{% extends "tracker/index.html" %}
{% load donation_tags %}

{% block title %}Challenges Index -- {{ dbtitle|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>Event:</b> {{ dbtitle|title }} <b>Challenges Index Total:</b> {{ agg.amount__sum|money }}
	</div>
	<table>
		<tr class="header"><td>Game</td><td>Challenge</td><td>Goal</td><td>Amount</td></tr>
	{% for challenge in challenges %}
		<tr>
			<td><a href="{% url tracker.views.game db=db id=challenge.speedRun %}">{{ challenge.speedRun__name|title }}</a></td>
			<td><a href="{% url tracker.views.challenge db=db id=challenge.challengeId %}">{{ challenge.name|title }}</a></td>
			<td>{{ challenge.goal|money }}</td>
			<td>{{ challenge.challengebid__amount__sum|money }} ({{ challenge.challengebid__count }}) </td>
		</tr>
	{% endfor %}
	</table>
	{% if db %}
	<p><a href="{% url tracker.views.index db=db %}">Back to {{ dbtitle|title }} Index</a></p>
	{% endif %}
	<p><a href="{% url tracker.views.index %}">Back to Main Index</a></p>
{% endblock %}