{% extends profile.prepend|add:"tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Challenge Detail" %} -- {{ dbtitle|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>{% trans "Game" %}:</b> {{ challenge.speedRun|title }} 
		<b>{% trans "Challenge" %}:</b> {{ challenge.name|title }}
		<b>{% trans "Total" %}:</b> {{ agg.amount__sum|money }}
	</div>
	<table>
		<tr class="header"><td>{% trans "Name" %}</td>{% if emails %}<td>{% trans "Email" %}</td>{% endif %}<td>{% trans "Time Received" %}</td><td>{% trans "Amount" %}</td></tr>
	{% for bid in bids %}
		<tr>
			<td><a href="{% url tracker.views.donor db=db id=bid.donation__donorId %}">
				{% name bid.donation__donorId__firstName bid.donation__donorId__lastName usernames %}
			</a></td>
			{% email bid.donation__donorId__email emails "<td>.</td>" %}
			<td>{{ bid.donation__timeReceived }}</td>
			<td><a href="{% url tracker.views.donation db=db id=bid.donation %}">{{ bid.amount|money }}</a></td>
		</tr>
		{% if comments %}
			{% if bid.donation__comment|length %}
			<tr>
				<td colspan="{{ emails|yesno:'4,3' }}">
					{{ bid.donation__comment|forumfilter }}
				</td>
			</tr>
			{% endif %}
		
			{% if forloop.counter < bids|length %}
			<tr class="header"><td colspan="{{ emails|yesno:'4,3' }}"></td></tr>
			{% endif %}
		{% endif %}
	{% endfor %}
	</table>
	<p><a href="{% url tracker.views.challenge db=db id=challenge.challengeId %}{{ comments|yesno:',?comments' }}">
	{% include profile.prepend|add:"tracker/commentslink.html" %}
	</a></p>
	<p><a href="{% url tracker.views.challengeindex db=db %}">{% trans "Back to Challenge Index" %}</a></p>
	{% include profile.prepend|add:"tracker/navfooter.html" %}
{% endblock %}