{% extends profile.prepend|add:tracker/index.html" %}
{% load donation_tags %}

{% block title %}Choice Option Detail -- {{ dbtitle|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>Game:</b> <a href="{% url tracker.views.game db=db id=choiceoption.choice.speedRun.speedRunId %}">{{ choiceoption.choice.speedRun|title }}</a>
		<b>Choice:</b> <a href="{% url tracker.views.choice db=db id=choiceoption.choice.choiceId %}">{{ choiceoption.choice.name|title }}</a> 
		<b>Option:</b> {{ choiceoption.name }}
		<b>Total:</b> {{ agg.amount__sum|money }}
	</div>
	<table>
		<tr class="header">
			<td>Name{% sort "name" %}</td>
			{% if emails %}<td>Email</td>{% endif %}
			<td>Time{% sort "time" %}</td>
			<td>Amount{% sort "amount" %}</td>
		</tr>
	{% for choicebid in choicebids %}
		<tr>
			<td><a href="{% url tracker.views.donor db=db id=choicebid.donationId__donorId %}">
				{% if usernames %}{{ choicebid.donationId__donorId__lastName}}{% else %}{{ choicebid.donationId__donorId__lastName|slice:":1"}}...{% endif %}, {{ choicebid.donationId__donorId__firstName }}
			</a></td>
			{% if emails %}<td><a href="mailto:{{ choicebid.donationId__donorId__email }}">{{ choicebid.donationId__donorId__email }}</a></td>{% endif %}
			<td>{{ choicebid.donationId__timeReceived }}</td>
			<td><a href="{% url tracker.views.donation db=db id=choicebid.donationId %}">{{ choicebid.amount|money }}</a></td>
		</tr>
		{% if comments %}
			{% if choicebid.donationId__comment|length %}
			<tr>
				<td colspan="{{ emails|yesno:'4,3' }}">
					{{ choicebid.donationId__comment|forumfilter }}
				</td>
			</tr>
			{% endif %}
		
			{% if forloop.counter < choicebids|length %}
			<tr class="header"><td colspan="{{ emails|yesno:'4,3' }}"></td></tr>
			{% endif %}
		{% endif %}
	{% endfor %}
	</table>
	<p><a href="{% url tracker.views.choiceoption db=db id=choiceoption.optionId %}{{ comments|yesno:',?comments' }}">{{ comments|yesno:"Hide,Show" }} Comments</a></p>
	<p><a href="{% url tracker.views.choiceindex db=db %}">Back to Choice Index</a></p>
	{% if db %}
	<p><a href="{% url tracker.views.index db=db %}">Back to {{ dbtitle|title }} Index</a></p>
	{% endif %}
	<p><a href="{% url tracker.views.index %}">Back to Main Index</a></p>
{% endblock %}