{% extends profile.prepend|add:"tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Choice Option Detail" %} -- {{ dbtitle|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>{% trans "Game" %}:</b> 
		<a href="{% url tracker.views.game db=db id=choiceoption.choice.speedRun.id %}">{{ choiceoption.choice.speedRun|title }}</a>
		<b>{% trans "Choice" %}:</b> 
		<a href="{% url tracker.views.choice db=db id=choiceoption.choice.id %}">{{ choiceoption.choice.name|title }}</a> 
		<b>{% trans "Option" %}:</b> 
		{{ choiceoption.name }}
		<b>{% trans "Total" %}:</b> 
		{{ agg.amount__sum|money }}
	</div>
	<table>
		<tr class="header">
			<td>
				{% trans "Name" %}{% sort "name" %}
			</td>
			{% if emails %}
				<td>
					{% trans "Email" %}
				</td>
			{% endif %}
			<td>
				{% trans "Time Received" %}{% sort "time" %}
			</td>
			<td>
				{% trans "Amount" %}{% sort "amount" %}
			</td>
		</tr>
	{% for bid in bids %}
		<tr>
			<td>
				<a href="{% url tracker.views.donor db=db id=bid.donation__donor %}">
					{% name bid.donation__donor__firstName bid.donation__donor__lastName usernames %}
				</a>
			</td>
			{% email bid.donation__donor__email emails "<td>.</td>" %}
			<td>
				{{ bid.donation__timeReceived }}
			</td>
			<td>
				<a href="{% url tracker.views.donation db=db id=bid.donation %}">
					{{ bid.amount|money }}
				</a>
			</td>
		</tr>
		{% if comments %}
			{% if choicebid.donationId__comment|length %}
			<tr>
				<td colspan="{{ emails|yesno:'4,3' }}">
					{% if bid.donation__commentState == 'APPROVED' or fulllist %}
						{{ bid.donation__comment|forumfilter }}
					{% else %}{% if bid.donation__commentState == 'PENDING' %}
						(Comment not approved)
					{% else %}{% if bid.donation__commentState == 'DENIED' %}
						(Comment rejected)
					{% endif %}{% endif %}{% endif %}
				</td>
			</tr>
			{% endif %}
		
			{% if forloop.counter < bids|length %}
				<tr class="header">
					<td colspan="{{ emails|yesno:'4,3' }}">
					</td>
				</tr>
			{% endif %}
		{% endif %}
	{% endfor %}
	</table>
	<p><a href="{% url tracker.views.choiceoption db=db id=choiceoption.id %}{{ comments|yesno:',?comments' }}">
	{% include profile.prepend|add:"tracker/commentslink.html" %}
	</a></p>
	<p><a href="{% url tracker.views.choiceindex db=db %}">{% trans "Back to Choice Index" %}</a></p>
	{% include profile.prepend|add:"tracker/navfooter.html" %}
{% endblock %}