{% extends profile.prepend|add:"tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Choice Option Detail" %} -- {{ dbtitle|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>{% trans "Game" %}:</b> <a href="{% url tracker.views.game db=db id=choiceoption.choice.speedRun.speedRunId %}">{{ choiceoption.choice.speedRun|title }}</a>
		<b>{% trans "Choice" %}:</b> <a href="{% url tracker.views.choice db=db id=choiceoption.choice.choiceId %}">{{ choiceoption.choice.name|title }}</a> 
		<b>{% trans "Option" %}:</b> {{ choiceoption.name }}
		<b>{% trans "Total" %}:</b> {{ agg.amount__sum|money }}
	</div>
	<table>
		<tr class="header">
			<td>{% trans "Name" %}{% sort "name" %}</td>
			{% if emails %}<td>{% trans "Email" %}</td>{% endif %}
			<td>{% trans "Time" %}{% sort "time" %}</td>
			<td>{% trans "Amount" %}{% sort "amount" %}</td>
		</tr>
	{% for choicebid in choicebids %}
		<tr>
			<td><a href="{% url tracker.views.donor db=db id=choicebid.donationId__donorId %}">
				{% if usernames %}{{ choicebid.donationId__donorId__lastName}}{% else %}{{ choicebid.donationId__donorId__lastName|slice:":1"}}...{% endif %}, {{ choicebid.donationId__donorId__firstName }}
			</a></td>
			{% if emails %}<td><a href="mailto:{{ choicebid.donationId__donorId__email }}">{{ choicebid.donationId__donorId__email }}</a></td>{% endif %}
			<td>{{ choicebid.donationId__timeReceived }}</td>
			<td><a href="{% url tracker.views.donation db=db id=choicebid.donationId %}">{{ choicebid.amount|money }}</a></td>
		</tr>
		{% if comments %}
			{% if choicebid.donationId__comment|length %}
			<tr>
				<td colspan="{{ emails|yesno:'4,3' }}">
					{{ choicebid.donationId__comment|forumfilter }}
				</td>
			</tr>
			{% endif %}
		
			{% if forloop.counter < choicebids|length %}
			<tr class="header"><td colspan="{{ emails|yesno:'4,3' }}"></td></tr>
			{% endif %}
		{% endif %}
	{% endfor %}
	</table>
	<p><a href="{% url tracker.views.choiceoption db=db id=choiceoption.optionId %}{{ comments|yesno:',?comments' }}">
	{% include profile.prepend|add:"tracker/commentslink.html" %}
	</a></p>
	<p><a href="{% url tracker.views.choiceindex db=db %}">{% trans "Back to Choice Index" %}</a></p>
	{% include profile.prepend|add:"tracker/navfooter.html" %}
{% endblock %}