{% extends profile.prepend|add:"tracker/index.html" %}
{% load donation_tags %}

{% block title %}Choice Detail -- {{ dbtitle|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>Game:</b> {{ choice.speedRun|title }} 
		<b>Choice:</b> {{ choice.name|title }}
		<b>Total:</b> {{ agg.amount__sum|money }}
	</div>
	<table>
	{% if not comments %}
		<tr class="header"><td colspan="3">Option</td><td colspan="1">Amount</td></tr>
	{% endif %}
	{% for option in options %}
		{% if comments %}
		<tr class="header"><td colspan="3" align="center">Option</td><td colspan="1">Amount</td></tr>
		{% endif %}
		<tr>
			<td colspan="3" {% if comments %}align="center"{% endif %}><a href="{% url tracker.views.choiceoption db=db id=option.optionId %}">{{ option.name }}</a></td>
			<td colspan="1">{{ option.choicebid__amount__sum|money }} ({{option.choicebid__amount__count}})</td>
		</tr>
		{% if comments and option.choicebid__amount__count > 0 %}
			<tr class="header">
				<td {% if not emails %}colspan="2"{% endif %}>Name</td>
				{% if emails %}<td>Email</td>{% endif %}
				<td>Time</td>
				<td>Amount</td>
			</tr>
		{% for bid in choicebids %}
			{% if bid.optionId == option.optionId %}
			<tr>
				<td {% if not emails %}colspan="2"{% endif %}><a href="{% url tracker.views.donor db=db id=bid.donationId__donorId %}">
					{% if usernames %}{{ bid.donationId__donorId__lastName}}{% else %}{{ bid.donationId__donorId__lastName|slice:":1"}}...{% endif %}, {{ bid.donationId__donorId__firstName }}
				</a></td>
				{% if emails %}<td><a href="mailto:{{ bid.donationId__donorId__email }}">{{ bid.donationId__donorId__email }}</a></td>{% endif %}
				<td>{{ bid.donationId__timeReceived }}</td>
				<td><a href="{% url tracker.views.donation db=db id=bid.donationId %}">{{ bid.amount|money }}</a></td>
			</tr>
			<tr>
				<td colspan="4">
					{{ bid.donationId__comment|forumfilter }}
				</td>
			</tr>
			{% comment %}{% if forloop.counter < option.choicebid__amount__count %}
			<tr class="header"><td colspan="4"></td></tr>
			{% endif %}{% endcomment %}
			{% endif %}
		{% endfor %}
		{% endif %}
	{% endfor %}
	</table>
	<p><a href="{% url tracker.views.choice db=db id=choice.choiceId %}{{ comments|yesno:',?comments' }}">{{ comments|yesno:"Hide,Show" }} Comments</a></p>
	<p><a href="{% url tracker.views.choiceindex db=db %}">Back to Choice Index</a></p>
	{% if db %}
	<p><a href="{% url tracker.views.index db=db %}">Back to {{ dbtitle|title }} Index</a></p>
	{% endif %}
	<p><a href="{% url tracker.views.index %}">Back to Main Index</a></p>
{% endblock %}