{% extends "tracker/index.html" %}

{% block title %}Donation Detail{% endblock %}

{% block content %}
	<div class="title"><b>Name:</b> <a href="{% url tracker.views.donor id=donation.donorId.donorId %}">{{ donation.donorId.lastName }}, {{ donation.donorId.firstName }}</a> <b>Time Received:</b> {{ donation.timeReceived }} <b>Amount:</b> ${{ donation.amount|floatformat:2 }}</div>
	{% if donation.comment %}
	<table>
		<tr class="header"><td><center><b>Comment</b></center></td></tr>
		<tr><td>
		{% autoescape on %}
			{{ donation.comment }}
		{% endautoescape %}
		</td></tr>
	</table>
	{% endif %}
	<p><a href="{% url tracker.views.donationindex %}">Back to Donation Index</a></p>
	<p><a href="{% url tracker.views.index %}">Back to Index</a></p>
{% endblock %}