{% extends profile.prepend|add:"tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Donation Detail" %} -- {{ dbtitle|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>
			{% trans "Name" %}:
		</b>
		<a href="{% url tracker.views.donor db=db id=donor.id %}">{% name donor.firstName donor.lastName usernames %}</a> {% if emails %}({% email donor.email %}){% endif %}
		<b>
			{% trans "Time Received" %}:
		</b>
		{{ donation.timeReceived }} 
		<b>
			{% trans "Amount" %}:
		</b>
		{{ donation.amount|money }}
	</div>
	{% if donation.comment %}
	<table>
		<tr class="header">
			<td align="center">
				<b>
					{% trans "Comment" %}
				</b>
			</td>
		</tr>
		<tr>
			<td>
				{{ donation.comment|forumfilter }}
			</td>
		</tr>
	</table>
	{% endif %}
	{% if challengebids %}
	<div class="header">
		<a href="{% url tracker.views.challengeindex db=db %}">{% trans "Challenge Bids" %}</a>
	</div>
	<table>
		<tr class="header">
			<td>
				{% trans "Game" %}
			</td>
			<td>
				{% trans "Name" %}
			</td>
			<td>
				{% trans "Goal" %}
			</td>
			<td>
				{% trans "Amount" %}
			</td>
		</tr>
	{% for bid in challengebids %}
		<tr>
			<td>
				<a href="{% url tracker.views.game db=db id=bid.challenge__speedRun %}">{{ bid.challenge__speedRun__name|title }}</a>
			</td>
			<td>
				<a href="{% url tracker.views.challenge db=db id=bid.challenge %}">{{ bid.challenge__name }}</a>
			</td>
			<td>
				{{ bid.challenge__goal|money }}
			</td>
			<td>
				{{ bid.amount|money }}
			</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
	{% if choicebids %}
	<div class="header">
		<a href="{% url tracker.views.choiceindex db=db %}">{% trans "Choice Bids" %}</a>
	</div>
	<table>
		<tr class="header">
			<td>
				{% trans "Game" %}
			</td>
			<td>
				{% trans "Choice" %}
			</td>
			<td>
				{% trans "Option" %}
			</td>
			<td>
				{% trans "Amount" %}
			</td>
		</tr>
	{% for bid in choicebids %}
		<tr>
			<td>
				<a href="{% url tracker.views.game db=db id=bid.choiceOption__choice__speedRun %}">{{ bid.choiceOption__choice__speedRun__name|title }}</a>
			</td>
			<td>
				<a href="{% url tracker.views.choice db=db id=bid.choiceOption__choice %}">{{ bid.choiceOption__choice__name|title }}</a>
			</td>
			<td>
				<a href="{% url tracker.views.choiceoption db=db id=bid.choiceOption %}">{{ bid.choiceOption__name }}</a>
			</td>
			<td>
				{{ bid.amount|money }}
			</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
	{% if emails %}<p>{% trans "Donation Source" %}: {{ donation.domain|title }}</p>{% endif %}
	{% comment %}{% if bidtracker and not db %}
	<p><a href="{% url tracker.views.choicebidadd db=db id=donation.id %}">Attach New Choice Bid</a></p>
	{% endif %}{% endcomment %}
	<p><a href="{% url tracker.views.donationindex db=db %}">{% trans "Back to Donation Index" %}</a></p>
	{% include profile.prepend|add:"tracker/navfooter.html" %}
{% endblock %}