{% extends "tracker/index.html" %}

{% block title %}Donation Index -- {{ dbtitle|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>Event:</b> {{ dbtitle|title }} <b>Donation Index</b>
	</div>
	<table>
		<tr class="header"><td>Name</td>{% if emails %}<td>Email</td>{% endif %}<td>Time Received</td><td>Amount</td><td>Comment</td></tr>
	{% for donation in donations %}
		<tr>
			<td><a href="{% url tracker.views.donor db=db id=donation.donorId__donorId %}">
				{% if usernames %}{{ donation.donorId__lastName }}{% else %}{{ donation.donorId__lastName|slice:":1" }}...{% endif %}, {{ donation.donorId__firstName }}
			</a></td>
			{% if emails %}<td><a href="mailto:{{ donation.donorId__email }}">{{ donation.donorId__email }}</a></td>{% endif %}
			<td>{{ donation.timeReceived }}</td>
			<td><a href="{% url tracker.views.donation db=db id=donation.donationId %}">${{ donation.amount|floatformat:2 }}</a></td>
			<td>{% if donation.comment|length %}Yes{% else %}No{% endif %}</td>
		</tr>
	{% endfor %}
	</table>
	{% if db %}
	<p><a href="{% url tracker.views.index db=db %}">Back to {{ dbtitle|title }} Index</a></p>
	{% endif %}
	<p><a href="{% url tracker.views.index %}">Back to Main Index</a></p>
{% endblock %}