{% extends profile.prepend|add:"tracker/index.html" %}
{% load donation_tags %}

{% block title %}Donation Detail -- {{ dbtitle|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>Name:</b> <a href="{% url tracker.views.donor db=db id=donor.donorId %}">
		{% if usernames %}{{ donor.lastName }}{% else %}{{ donor.lastName|slice:":1" }}...{% endif %}, {{ donor.firstName }}</a> {% if emails %}(<a href="mailto:{{ donor.email }}">{{ donor.email }}</a>){% endif %}
		<b>Time Received:</b> {{ donation.timeReceived }} 
		<b>Amount:</b> {{ donation.amount|money }}
	</div>
	{% if donation.comment %}
	<table>
		<tr class="header"><td align="center"><b>Comment</b></td></tr>
		<tr><td>
			{{ donation.comment|forumfilter }}
		</td></tr>
	</table>
	{% endif %}
	{% if challengebids %}
	<div class="header">
		<a href="{% url tracker.views.challengeindex db=db %}">Challenge Bids</a>
	</div>
	<table>
		<tr class="header">
			<td>Game</td>
			<td>Name</td>
			<td>Goal</td>
			<td>Amount</td>
		</tr>
	{% for bid in challengebids %}
		<tr>
			<td><a href="{% url tracker.views.game db=db id=bid.challenge__speedRun %}">{{ bid.challenge__speedRun__name|title }}</a></td>
			<td><a href="{% url tracker.views.challenge db=db id=bid.challenge %}">{{ bid.challenge__name }}</a></td>
			<td>{{ bid.challenge__goal|money }}</td>
			<td>{{ bid.amount|money }}</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
	{% if choicebids %}
	<div class="header">
		<a href="{% url tracker.views.choiceindex db=db %}">Choice Bids</a>
	</div>
	<table>
		<tr class="header">
			<td>Game</td>
			<td>Choice</td>
			<td>Option</td>
			<td>Amount</td>
		</tr>
	{% for bid in choicebids %}
		<tr>
			<td><a href="{% url tracker.views.game db=db id=bid.optionId__choice__speedRun %}">{{ bid.optionId__choice__speedRun__name|title }}</a></td>
			<td><a href="{% url tracker.views.choice db=db id=bid.optionId__choice %}">{{ bid.optionId__choice__name|title }}</a></td>
			<td><a href="{% url tracker.views.choiceoption db=db id=bid.optionId %}">{{ bid.optionId__name }}</a></td>
			<td>{{ bid.amount|money }}</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
	{% if emails %}<p>Donation Source: {{ donation.domain|title }}</p>{% endif %}
	{% comment %}{% if bidtracker and not db %}
	<p><a href="{% url tracker.views.choicebidadd db=db id=donation.donationId %}">Attach New Choice Bid</a></p>
	{% endif %}{% endcomment %}
	<p><a href="{% url tracker.views.donationindex db=db %}">Back to Donation Index</a></p>
	{% if db %}
	<p><a href="{% url tracker.views.index db=db %}">Back to {{ dbtitle|title }} Index</a></p>
	{% endif %}
	<p><a href="{% url tracker.views.index %}">Back to Main Index</a></p>
{% endblock %}