{% extends "tracker/index.html" %}

{% block title %}Donor Detail{% endblock %}

{% block content %}
	<div class="title">
		<b>Name:</b> {% if usernames %}{{ donor.lastName }}{% else %}{{ donor.lastName|slice:":1" }}...{% endif %}, {{ donor.firstName }}
		{% if emails %}<b>Email:</b> {{ donor.email }}{% endif %}
		{% if donor.alias %}<b>Alias</b> {{ donor.alias }} {% endif %}
		<b>Total Donations:</b> {{ total }} ({{ agg.amount__count }}) 
		<b>Max/Avg Donation:</b> {{ mx }}/{{ av }}
	</div>
	<table>
		<tr class="header"><td>Time</td><td>Amount</td><td>Comment</td></tr>
	{% for donation in donations %}
		<tr>
			<td>{{ donation.timeReceived }}</td>
			<td><a href="{% url tracker.views.donation id=donation.donationId %}">${{ donation.amount|floatformat:2 }}</a></td>
			<td>{% if donation.comment|length %}Yes{% else %}No{% endif %}</td>
		</tr>
	{% endfor %}
	</table>
	<p><a href="{% url tracker.views.donorindex %}">Back to Donor Index</a></p>
	<p><a href="{% url tracker.views.index %}">Back to Index</a></p>
{% endblock %}