{% extends profile.prepend|add:"tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Game Index" %} -- {{ dbtitle|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>
			{% trans "Event" %}:
		</b>
		{{ dbtitle|title }}
		<b>
			{% trans "Game Index" %}
		</b>
	</div>
	<table>
		<tr class="header">
			<td>
				{% trans "Name" %}
			</td>
			<td>
				{% trans "Description" %}
			</td>
		</tr>
	{% for game in games %}
		<tr>
			<td>
				<a href="{% url tracker.views.game db=db id=game.id %}">{{ game.name|title }}</a>
			</td>
			<td>
				{{ game.description|forumfilter }}
			</td>
		</tr>
	{% endfor %}
	</table>
	{% include profile.prepend|add:"tracker/navfooter.html" %}
{% endblock %}
