{% load i18n %}

{% if authform.errors %}
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}
<p><a href="{% url django_openid_auth.views.login_begin %}">{% trans "Log In with a Google Account" %}</a></p>
{% comment %}
<form method="post" action="{% url donations.tracker.views.login %}">
<fieldset>
{% csrf_token %}
{{ authform.username.label_tag }}
{{ authform.username }}
{{ authform.password.label_tag }}
{{ authform.password }}
<input type="submit" value="{% trans 'Log In' %}" />
<input type="hidden" name="next" value="{{ next }}" />
</fieldset>
</form>
{% endcomment %}
