{% extends profile.prepend|add:"tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Prize Index" %} -- {{ dbtitle|title }}{% endblock %}

{% block content %}
	<div class="title">
		<b>{% trans "Event" %}:</b> {{ dbtitle|title }} <b>{% trans "Prize Index" %}</b>
	</div>
	<table>
		<tr class="header">
			<td>{% trans "Name" %}</td>
			<td>{% trans "Description" %}</td>
			<td>{% trans "Image" %}</td>
			<td>{% trans "Winner" %}</td>
		</tr>
	{% for prize in prizes %}
		<tr>
			<td>{{ prize.name|title }}</td>
			<td>{{ prize.description|forumfilter }}</td>
			<td>{% if prize.image %}<a href="{{ prize.image }}">{% trans "Link" %}</a>{% else %}{% trans "None" %}{% endif %}</td>
			<td>
				<a href="{% url tracker.views.donor db=db id=prize.donor %}">
				{% if prize.donor__lastName %}
					{% name prize.donor__firstName prize.donor__lastName usernames %}
				{% else %}
					Unknown
				{% endif %}
				</a>
				{% email prize.donor__email emails "(.)" %}
			</td>
		</tr>
	{% endfor %}
	</table>
	{% include profile.prepend|add:"tracker/navfooter.html" %}
{% endblock %}